/* * {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; 
}*/

#results0 {
  display: none;
}
#results1 {
  display: none;
}
#results2 {
  display: none;
}
#results3 {
  display: none;
}
#results4 {
  display: none;
}

#fbResult {
  vertical-align: bottom;
  /* height: 75px;
  width: 75px; */
}

body {
  font-family: "Montserrat", "sans-serif";
  background-color: lightgray;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.column {
  flex: 25%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container {
  background-color: lightgray;
} */

.box {
  width: 500px;
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
  background-color: rgb(196, 195, 195);
  box-shadow: 1px 8px 15px #888888;
  display: grid;
}
h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

#question {
  text-align: center;
  font-weight: bold;
}

#results {
  text-align: center;
}

.section-to-hide {
  text-align: center;
}

/* #opt1 button, #opt2 button, #opt3 button, # */

.btn {
  background-color: #007bff;
  color: white;
  border: 1px solid blue;
  /* gap: 1px;
  margin: 1px; */
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 20px 0;
  /* border: 2px solid aqua; */
}

#next {
  margin-top: 1px;
  align-items: center;
}

.hide {
  display: none;
}

/* #next-container {
  background-color: pink; */
/* display: flex;
  justify-content: center;
  align-items: center;
} */

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
} */
